# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
*.ipa

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
ios/*.xcworkspace
ios/*.xcodeproj
!ios/*.xcodeproj/project.pbxproj
!ios/*.xcodeproj/xcshareddata
!ios/*.xcworkspace/contents.xcworkspacedata

# Android
android/build/
android/app/build/
android/local.properties
android/app/debug.keystore
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*
debug.log

# macOS
.DS_Store
*.pem

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo

# testing
coverage/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.settings/

# Temporary files
*.log
*.tmp
*.temp
.cache/
